.container{

    width: 100%;
    height: 700px;
    position: absolute;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    /* background-color: white; */
    /* opacity: 0.5; */
  
    /* background-image: url('./c.jpeg'); */
    /* background-size: 1600px 700px;
    background-repeat: no-repeat; */
    /* object-fit: cover; */
 
   
}


.actContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    align-items: flex-end;
    width: 80%;
    top:-50px;
  border-radius: 5px;
    filter: drop-shadow(0 15px 15px black);
    
    backdrop-filter: blur(10px);
    opacity: 1;
    
}

.actContainer select   {
  display: flex;
  flex-direction: row;
    width: 200px;
    font-size: 15px;
    background-color: rgb(2, 17, 84);
    color: white;
    font-weight: 800;
    border:none;
    height: auto;
    border-bottom: 1px wheat;
line-height: 50px;
height: 30px;
border-radius: 5px;
padding: 5px;
align-items: flex-end;
text-align: right;
/* position: absolute; */
}
.optionn {
    display:flex !important;
    flex-direction: row;
    width: 50%;
    justify-content: flex-end;
  
  margin: 20px;
    color: yellow;
    
    font-size: 30px;
    background-color: brown;
  border: 3px gold solid;
    
  
    
}
.op{
    display: flex;
    width: 80%;
    height: 20px;
    border: 1px;
    background-color: blueviolet;
    color: blue;

}

.deualElement{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
}
.element{
    width: 40%;
    display: flex;
    border-bottom: 1px;
    justify-content: space-between;
    margin: 20px 15px ;
}
 .innput{
    display: flex;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
    border-bottom: 2px gold solid;
    color: whitesmoke;
    background-color: rgb(3, 3, 77);
}
.timee{
    display: flex;
    width: 40px;
    justify-content: center;
    background-color: rgb(1, 1, 49);
    color: whitesmoke;
    border-radius: 5px;
    margin-left: 5px;
    border:1px gold solid;
    
}
.element label{
    font-size: 20px;
    color: rgb(37, 2, 49) ;
    letter-spacing: 1px;
    font-weight: 600;
   
    /* margin:10px; */
    margin-left: 10px;
}
.fl label{
    font-size: 20px;
    color: white ;
    letter-spacing: 1px;
    font-weight: 600;
   
    /* margin:10px; */
    margin-left: 10px;
}